@font-face {
			font-family: "GothamPro";
			src: url("../fonts/GothamProRegular/GothamProRegular.eot");
			src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
			url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "GothamPro";
			src: url("../fonts/GothamProBold/GothamProBold.eot");
			src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
			url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: bold;
	}
@font-face {
			font-family: "GothamPro";
			src: url("../fonts/GothamProBlack/GothamProBlack.eot");
			src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
			url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "GothamPro";
			src: url("../fonts/GothamProItalic/GothamProItalic.eot");
			src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
			url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: normal;
	}