*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "GothamPro", sans-serif;
    background-color: lightgray;
}
body{
    font-size: 16px;
    max-width: 1980px;
    margin: 0 auto;
}
.h1, .h2, .h3{
    margin: 0;
}
.h1{
    font-size: 7.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.h2{
    font-size: 2.4rem;
    color: rgb(100, 100, 100);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 4.1rem 0 0 0;
}
.h3{
    font-size: 1.8rem;
    color: rgb(100, 100, 100);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    padding: 4rem 0 3.4rem 0;
}
.slider-text{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.429;
}
.description-text{
    font-size: 1.4rem;
    color: rgb(100, 100, 100);
    line-height: 1.667;
    font-weight: bold;

}
.link{
    
    
    &:hover{
        color: red;
    }

    &--nav{
        font-size: 1.4rem;
        color: rgb(100, 100, 100);
        text-transform: uppercase;
        line-height: 3.571;
        text-decoration: none;
        
        &:hover{
            color: #545ad8;
        }
    }
}
.button{
    cursor: pointer;
    background: none;

    &--popup{
        border: 1px solid #fff;
        border-radius: 50px;
        background-color: #646464;
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.25;
        padding: 1.8rem 5.5rem;
        margin-top: 3.5rem;


        &:hover{
            background-color: gray;
        }
    }
    &--close{
        position: absolute;
        background: none;
        border: none;
        padding: 5px;
        
        &:before, &:after{
            content: " ";
            position: absolute;
            width: 16px;
            height: 2px;
            background-color: #646464;
            left: 0;
        }
        &:before{
            transform: rotatez(45deg);
        }
        &:after{
            transform: rotateZ(-45deg)
        }
        
    }
    &--close-popup{
        text-transform: uppercase;
        background-color: #646464;
        border: none;
        border-radius: 50px;
        color: #fff;
        padding: 1.8rem 5.8rem;
        font-weight: bold;
    }
}
.horizontal-range{
    display: inline-block;
    height: 2px;
    width: 3rem;
    background-color: #646464;
    position: relative;
    top: -1rem;
}
.underline-text{
    text-decoration: underline;
}
